/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */
/**
 * Github-like theme for Prism.js
 * @author Luke Askew http://github.com/lukeaskew
 */
code, code[class*='language-'], pre[class*='language-'] {
  color: #333;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 1.4;
  direction: ltr;
  cursor: text; }

pre[class*='language-'] {
  overflow: auto;
  margin: 1em 0;
  padding: 1.2em;
  border-radius: 3px;
  font-size: 85%; }

p code, li code, table code {
  margin: 0;
  border-radius: 3px;
  padding: 0.2em 0;
  font-size: 85%; }
  p code:before, p code:after, li code:before, li code:after, table code:before, table code:after {
    letter-spacing: -0.2em;
    content: '\00a0'; }

code, :not(pre) > code[class*='language-'], pre[class*='language-'] {
  background: #f7f7f7; }

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em; }

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #969896; }
.token.punctuation, .token.string, .token.atrule, .token.attr-value {
  color: #183691; }
.token.property, .token.tag {
  color: #63a35c; }
.token.boolean, .token.number {
  color: #0086b3; }
.token.selector, .token.attr-name, .token.attr-value .punctuation:first-child, .token.keyword, .token.regex, .token.important {
  color: #a71d5d; }
.token.operator, .token.entity, .token.url, .language-css .token.string {
  color: #a71d5d; }
.token.entity {
  cursor: help; }

.namespace {
  opacity: 0.7; }

.f-color-chip {
  padding: 1em;
  min-width: 9em;
  border-top-width: 9em;
  border-top-style: solid;
  border-bottom-width: 0.5em;
  border-bottom-style: solid;
  background-color: #fff;
  font-weight: 700;
  font-size: 0.75em;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 2em; }
  .f-color-chip .f-color-chip__color {
    background-color: #fff;
    content: attr(data-color);
    font-weight: 400; }

.f-color-chip--primary {
  width: 12em;
  border-top-width: 13em; }

.f-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 14rem;
  height: 100%;
  background-color: white;
  font-size: 16px !important;
  font-family: sans-serif; }
  @media (min-width: 60em) {
    .f-menu {
      right: auto;
      left: 0; } }
  .state--menu-active .f-menu {
    visibility: visible;
    -webkit-overflow-scrolling: touch; }
  .f-menu ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; }
  .f-menu > ul {
    margin-bottom: 1em; }
    .f-menu > ul > li > a {
      margin-top: 1em; }
  .f-menu li {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0; }
  .f-menu a {
    display: block;
    padding: 0.75em 3em;
    color: #5c5c5c !important;
    text-decoration: none;
    font-size: 0.75em;
    line-height: 1;
    -webkit-transition: background-color 200ms;
            transition: background-color 200ms; }
    .f-menu a:hover {
      color: #5c5c5c !important;
      text-decoration: none;
      font-weight: 400; }
    .f-menu a.f-active {
      font-weight: 700;
      color: #1f1f1f !important; }
  .f-menu .f-menu__heading {
    padding-left: 2em;
    color: #5c5c5c !important;
    font-weight: 700; }
    .f-menu .f-menu__heading:hover {
      color: #5c5c5c;
      font-weight: 700; }

.f-controls-menu {
  border-top: 1px solid #5c5c5c; }

.f-menu-bar:after {
  clear: both; }
.f-menu-bar:before, .f-menu-bar:after {
  display: table;
  content: ' '; }

.f-menu-toggle {
  float: right;
  border: 0;
  cursor: pointer; }
  .f-menu-toggle svg {
    width: 2em;
    height: 2em; }
  @media (min-width: 60em) {
    .f-menu-toggle {
      display: none; } }

/* main */
html {
  height: 100%; }
  @media (max-width: 60em) {
    html.state--menu-active {
      overflow: hidden; } }

body {
  margin: 0;
  min-height: 100%; }
  @media (max-width: 60em) {
    .state--menu-active body {
      width: 100%;
      height: 100%; } }

.f-container {
  -webkit-transition: all 350ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
          transition: all 350ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
  position: relative;
  z-index: 1;
  margin-left: 0;
  background-color: #fff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  .f-container:after {
    clear: both; }
  .f-container:before, .f-container:after {
    display: table;
    content: ' '; }
  @media (max-width: 60em) {
    .f-container {
      min-height: 100vh; }
      .state--menu-active .f-container {
        -webkit-transform: translate(-14rem, 0);
            -ms-transform: translate(-14rem, 0);
                transform: translate(-14rem, 0); } }
  @media (min-width: 60em) {
    .f-container {
      margin-left: 14rem; } }

.f-main {
  box-sizing: border-box;
  padding: 1em;
  min-height: 100%; }

.f-controls:after {
  clear: both; }
.f-controls:before, .f-controls:after {
  display: table;
  content: ' '; }
.f-controls .f-icon {
  box-sizing: border-box;
  width: 33.33333%;
  padding: 0.75em 0;
  text-align: center;
  float: left;
  cursor: pointer; }
  .f-controls .f-icon:hover:not(.f-active) use {
    fill: #5c5c5c; }
  .f-controls .f-icon:last-child {
    border-right: 0; }
  .f-controls .f-icon svg {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle; }
  .f-controls .f-icon use {
    fill: #5c5c5c; }
.f-controls .f-active {
  box-shadow: inset 0 3px 0 #1f1f1f; }
  .f-controls .f-active use {
    fill: #1f1f1f; }

.f-control {
  cursor: pointer;
  vertical-align: middle;
  margin-left: 0.75rem; }
  .f-control:first-child {
    margin-left: 0; }
  .f-control svg {
    width: 14px;
    height: 14px; }
    .f-control svg use {
      fill: #5c5c5c; }

.f-item-group {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #cccccc; }
  .f-item-group:after {
    clear: both; }
  .f-item-group:before, .f-item-group:after {
    display: table;
    content: ' '; }
  .f-item-group:last-child {
    border-bottom: 0;
    margin-bottom: 0; }
  .f-item-group ~ .f-item-group {
    margin-top: 0; }
  .f-item-group > .f-item-group {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 0; }
    .f-item-group > .f-item-group:first-of-type {
      margin-top: 0; }
    .f-item-group > .f-item-group:last-child {
      margin-bottom: 0;
      padding-bottom: 0; }

.f-item-code {
  margin-top: 2rem; }

.f-item-preview:after {
  clear: both; }
.f-item-preview:before, .f-item-preview:after {
  display: table;
  content: ' '; }

.f-item-border-bottom {
  border-bottom: 1px solid #cccccc; }

.f-item-heading-group {
  margin-bottom: 2rem;
  vertical-align: middle; }
  .f-item-heading-group:after {
    clear: both; }
  .f-item-heading-group:before, .f-item-heading-group:after {
    display: table;
    content: ' '; }

.f-item-heading {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 1; }

.f-item-controls {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem; }
  .f-item-controls .f-control {
    width: 14px;
    height: 14px;
    display: block;
    float: left; }
    .f-item-controls .f-control:hover use {
      fill: #5c5c5c; }
    .f-item-controls .f-control use {
      fill: #cccccc; }

.f-item-hidden {
  display: none; }

.f-item-notes {
  font-size: 0.875rem; }
