.footer {
	background-color: color(aqua);
	// color: color(white);
	padding: 2rem 1rem;
	text-align: center;

	a {
		color: color(blue);
	}

	p {
		margin: 1rem 0;
	}
}

.stamp {
	height: 4rem;
	max-width: 10rem;

	use {
		fill: color(blue);
	}
}
