ul,
ol {
	margin: 1.2em 0;

	li {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.list-heading {
	@include wide-kerning;
	text-transform: uppercase;
	color: color(red);
	font-weight: 700;
	list-style-type: none;
	padding-bottom: 0.5em;
	display: block;
}

.link-list {
	padding-left: 0;
	list-style-type: none;

	li {
		margin-bottom: 0;
	}

	a {
		padding: 0.5em 0;
		text-decoration: none;
		display: block;

		&:hover {
			text-decoration: underline;
			color: color(red);
		}
	}
}


.piped-list {
	list-style-type: none;
	padding-left: 0;
	margin: 0;

	li {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;

		&.pipe {
			margin: 0 0.5em;
		}

		.bolt {
			width: 1.5em;
			height: 1.5em;
			display: inline-block;
			vertical-align: middle;

			use {
				fill: color(orange, 1);
			}
		}
	}
}
