---
title: Fabricator
---

{{> header-bar}}

{{> hero}}

<div class="bg-orange2 pt-l pb-xl">
	<div class="row">
		<div class="col-6">
			<h3 class="white">Design System</h3>
			<p class="white">Organize your design system the way you want. Components, Structures, Elements, Atoms, Molecules, whatever - the taxonomy is up to you!</p>
		</div>
		<div class="col-6">
			<h3 class="white">Style Guide + Documentation</h3>
			<p class="white">Generate a style guide from your toolkit code. Write documentation in markdown to make your toolkit easy for other developers to use.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<h3 class="white">Optimized Builds</h3>
			<p class="white">Uses <a href="http://gulpjs.com">gulp.js</a> as a super-fast, highly-optimized build system to compress images, CSS, and JavaScript.</p>
		</div>
		<div class="col-6">
			<h3 class="white">Live Preview Server</h3>
			<p class="white">Highly-portable local development environment with <a href="http://browsersync.io/">BrowserSync</a> built-in for a fast, efficient workflow.</p>
		</div>
	</div>
</div>

<div class="row pb-xl">
	<div class="ta-c">
		<h2>Quick Start</h2>
	</div>
	<code><pre>$ curl -L https://github.com/fbrctr/fabricator/archive/master.tar.gz | tar zx --strip 1
$ npm start</pre></code>
	<div class="ta-c">
		<a href="/docs">Read the docs</a>
	</div>
</div>

{{> footer}}
