<meta property="og:url" content="http://fbrctr.github.io/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Fabricator - Build your UI toolkit" />
<meta property="og:description" content="Fabricator is a tool for building modular website design systems." />
<meta property="og:image" content="http://fbrctr.github.io/assets/toolkit/images/social.png" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@lukeaskew">
<meta name="twitter:title" content="Fabricator - Build your UI toolkit">
<meta name="twitter:description" content="Fabricator is a tool for building modular website design systems.">
<meta name="twitter:image:src" content="http://fbrctr.github.io/assets/toolkit/images/social.png">
