<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{> social-meta}}

	<title>{{title}}</title>

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<!-- /toolkit styles -->

</head>
<body>

	{{> symbols}}

	{{> page-header}}

	<div class="row pt-xl pb-xxl">
		<div class="col-s-12 col-m-4 col-l-3">
			<a href="{{baseurl}}/index.html" class="nav-link">&#8592; Home</a>
			<ul class="link-list mt-xl">
				<li class="list-heading">Getting Started</li>
				<li>
					<a href="{{baseurl}}/docs/index.html">Quick Start</a>
				</li>
				<li>
					<a href="{{baseurl}}/getting-started/what-is-a-toolkit.html">What is a Toolkit?</a>
				</li>
			</ul>
		</div>
		<div class="col-s-12 col-m-8 col-l-9">
			{% body %}
		</div>
	</div>

	{{> footer}}

	<!-- toolkit scripts -->
	<script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

	{{> analytics}}

</body>
</html>
