<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{> social-meta}}

	<title>{{title}}</title>

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<!-- /toolkit styles -->

</head>
<body>

	{{> symbols}}

	{{> page-header}}

	<div class="row pt pb-xxl">
		<div class="col-s-12 col-m-4 col-l- pt-xl side-menu">
			<ul class="link-list">
				<li class="list-heading">Getting Started</li>
				<li>
					<a href="{{baseurl}}/docs/index.html">Quick Start</a>
				</li>
				<li>
					<a href="{{baseurl}}/getting-started/what-is-a-toolkit.html">What is a Toolkit?</a>
				</li>
				<li>
					<a href="{{baseurl}}/getting-started/working-with-fabricator.html">Working with Fabricator</a>
				</li>
			</ul>
			<ul class="link-list mt-xl">
				<li class="list-heading">Building a Toolkit</li>
				<li>
					<a href="{{baseurl}}/building-a-toolkit/materials.html">Materials</a>
				</li>
				<li>
					<a href="{{baseurl}}/building-a-toolkit/rapid-prototyping.html">Rapid Prototyping</a>
				</li>
				<li>
					<a href="{{baseurl}}/building-a-toolkit/data.html">Data</a>
				</li>
				<li>
					<a href="{{baseurl}}/building-a-toolkit/assets.html">Stylesheets and JavaScript</a>
				</li>
			</ul>
			<ul class="link-list mt-xl">
				<li class="list-heading">Advanced</li>
				<li>
					<a href="{{baseurl}}/advanced/third-party.html">Third-party dependencies</a>
				</li>
				<li>
					<a href="{{baseurl}}/advanced/error-handling.html">Error Handling</a>
				</li>
				<li>
					<a href="{{baseurl}}/advanced/helpers.html">Helpers</a>
				</li>
				<li>
					<a href="{{baseurl}}/advanced/preprocessors.html">Ruby Sass and other preprocessors</a>
				</li>
				<li>
					<a href="{{baseurl}}/advanced/customization.html">Themes and customization</a>
				</li>
			</ul>
		</div>
		<div class="col-s-12 col-m-8 col-l-">
			{% body %}
		</div>
	</div>

	{{> footer}}

	<!-- toolkit scripts -->
	<script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

	{{> analytics}}

</body>
</html>
