<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{base_url}}assets/toolkit/styles/toolkit.css">
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<!-- /toolkit styles -->

</head>
<body>

	{{> symbols}}

	{{> page-header}}

	<div class="row">
		<div class="col-s-12 col-m-4 col-l-3">

		</div>
		<div class="col-s-12 col-m-8 col-l-9">
			{% body %}
		</div>
	</div>

	<!-- {{> footer}} -->


	<!-- toolkit scripts -->
	<script src="{{base_url}}assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

</body>
</html>
